#header{

}

.member-menu{
    height:35px;
    background:red;
}

.logo{
    height:80px;
    background:yellow;
}

.main-menu{
    height:53px;
    background:blue;
}

.content-wrapper{
    width:960px;
    margin:auto;
    padding:0px 10px;
    background-color:purple;
    opacity:0.2;
}

#body{

}

#footer{

}